
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutTest</title>
</head>
<body>
    <header style=" height:100px; background-color:palevioletred">
        this is header part
        @RenderPage("~/Views/Animal/PageSecond.cshtml","Supriya","Kshirsagr","supriya@gmail.com",1234567890)
    </header>
    <div style="background-color:hotpink"> 
        @RenderBody()
    </div>
    <footer style=" height:100px;background-color:lightpink">
        this is footer part
    </footer>
</body>
</html>
