
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_NewLayout</title>
</head>
<body>
  
    <div style="background-color:blue">
        @RenderBody()
    </div>
</body>
</html>
