
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentAbout</title>
</head>
<body>
    <div> 
        @ViewBag.StudentAboutPage
    </div>
    <div>StudentAbout page</div>
</body>
</html>
