
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        @ViewBag.Message
    </div>
    <div>
        <a href="/Student/StudentAddress?id=1&stradd=supriyaadd12345">StudentAddress</a><br />
        <a href="/Student/Index"> student Index page</a><br />
        <a href="/Student/StudentAbout?id=1">StudentAbout page</a><br />
        <a href="/Student/StudentContactPage?msg=hello every one">StudentContactPage</a>
        <a href="/Employee/Index">Employee</a>
    </div>

</body>
</html>
