@model WebApplication3.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        my view from custom folder
    </div>
    <div>
       test
    </div>

</body>
</html>
